        <!-- Mashead header-->
        <header class="masthead">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <!-- Mashead text and app badges-->
                        <div class="mb-5 mb-lg-0 text-center text-lg-start">
                            <h1 class="display-1 lh-1 mb-3">Rent with confidence at G2O Rentals!</h1>
                            <p class="lead fw-normal text-muted mb-5">Luxurious rentals, no hidden fees & satisfaction guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    <img src="/images/cars.jpeg" alt="Cars" width="960" height="540">
                    <!--  Photo by Peter Broomfield on https://unsplash.com/photos/m3m-lnR90uM -->
                    </div>
                </div>
            </div>
        </header>