<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<main>
    <!-- Main div for all page content -->
    <div class="container-fluid p-5 mb-1 bg-light rounded-3 py-5">
        <div class="row">
            <div class="col-md-offset-10">
                <!-- Page title and add button -->
                <h1 class="display-5 fw-bold">
                    <a href="/albums/add" class="btn btn-dark" role="button">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                    Reservations </h1>

<%- include('partials/footer.ejs') %>