<%- include ('partials/header.ejs') %>

    <body id="page-top">

<%- include ('partials/navbar.ejs') %>

        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <!-- Mashead text and app badges-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start">
                        <br>
                        <br>
                        <h1 class="display-1 lh-1 mb-3">Our Cars</h1>
                        <p class="lead fw-normal text-muted mb-5">The most Luxurious Cars in the Market</p>
                    </div>
                </div>
            </div>
        </div>

        <section class="bg-light">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-12 col-lg-5">
                        <h2 class="display-4 lh-1 mb-4">Aston Martin Valhalla</h2>
                        <p class="lead fw-normal text-muted mb-5 mb-lg-0">The Aston Martin Valhalla is an upcoming mid-engined plug-in hybrid sports car developed by British manufacturer Aston Martin in collaboration with Red Bull Racing. The car is meant to sit below the flagship Valkyrie track focused sports car and is intended to be more usable as an everyday car.</p>
                    </div>
                    <div class="col-sm-8 col-md-6">
                        <div class="px-5 px-sm-5"><img src="/images/Aston.png" width="480" height="270" alt="Aston Martin" /></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-light">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-12 col-lg-5">
                        <h2 class="display-4 lh-1 mb-4">Audi E-tron</h2>
                        <p class="lead fw-normal text-muted mb-5 mb-lg-0">The Audi e-tron GT is a battery electric executive car produced by Audi since late 2020 as part of the e-tron battery electric sub-brand, and the third fully electric car model, after e-tron and e-tron Sportback SUVs. Based on the J1 platform shared with the Porsche Taycan.</p>
                    </div>
                    <div class="col-sm-8 col-md-6">
                        <div class="px-5 px-sm-5"><img src="/images/Audi.png" width="480" height="270" alt="Audi E-tron" /></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-light">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-12 col-lg-5">
                        <h2 class="display-4 lh-1 mb-4">Bentley Continental GT</h2>
                        <p class="lead fw-normal text-muted mb-5 mb-lg-0">The Bentley Continental GT is a two door, four seater grand tourer produced by Bentley from 2003 onwards. It's offered in a variety of forms, the two door GT Conti Coupe, the two door GTC, and the four door Flying Spur with a selection of engines, it's 6.0L Twin-Turbo W12 and it's 4.0L Twin-Turbo V8.</p>
                    </div>
                    <div class="col-sm-8 col-md-6">
                        <div class="px-5 px-sm-5"><img src="/images/Bentley.png" width="480" height="270" alt="Bentley Continental GT" /></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-light">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-12 col-lg-5">
                        <h2 class="display-4 lh-1 mb-4">Ferrari Enzo</h2>
                        <p class="lead fw-normal text-muted mb-5 mb-lg-0">The Enzo Ferrari (Type F140) is a mid-engine sports car manufactured by Italian automobile manufacturer Ferrari and named after the company's founder, Enzo Ferrari. It was developed in 2002 using Formula One technology, such as a carbon-fibre body, F1-style automated-shift manual transmission, and carbon fibre-reinforced silicon carbide (C/SiC) ceramic composite disc brakes, as well as technologies not allowed in F1, such as active aerodynamics.</p>
                    </div>
                    <div class="col-sm-8 col-md-6">
                        <div class="px-5 px-sm-5"><img src="/images/Enzo.png" width="480" height="270" alt="Ferrari Enzo" /></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-light">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-12 col-lg-5">
                        <h2 class="display-4 lh-1 mb-4">Mercedes-AMG G63</h2>
                        <p class="lead fw-normal text-muted mb-5 mb-lg-0">The Mercedes-AMG G 63 6×6 or Mercedes-Benz G 63 AMG 6×6 is a SUT manufactured by Mercedes-Benz. An SUT derivative of the six wheel drive Mercedes Geländewagen developed for the Australian Army from 2007, at the time it was the company's largest and second most expensive street-legal offroad vehicle.</p>
                    </div>
                    <div class="col-sm-8 col-md-6">
                        <div class="px-5 px-sm-5"><img src="/images/GWag.png" width="480" height="270" alt="Mercedes-AMG G63" /></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-light">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-12 col-lg-5">
                        <h2 class="display-4 lh-1 mb-4">Land Rover Defender 110</h2>
                        <p class="lead fw-normal text-muted mb-5 mb-lg-0">The Land Rover Defender (initially introduced as the Land Rover 110 / One Ten, and in 1984 joined by the Land Rover 90 / Ninety, plus the new, extra-length Land Rover 127 in 1985) is a series of British off-road cars and pickup trucks. They consistently have four-wheel drive, and were developed in the 1980s from the original Land Rover series which was launched at the Amsterdam Motor Show in April 1948.</p>
                    </div>
                    <div class="col-sm-8 col-md-6">
                        <div class="px-5 px-sm-5"><img src="/images/Rover.png" width="480" height="270" alt="Land Rover Defender 110" /></div>
                    </div>
                </div>
            </div>
        </section>



<%- include ('partials/footer.ejs') %>


        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/javascripts/scripts.js"></script>
    </body>
</html>