<%- include ('partials/header.ejs') %>

    <body id="page-top">

<%- include ('partials/navbar.ejs') %>


<%- include ('partials/banner.ejs') %>
        <!-- Quote/testimonial aside-->
        <aside class="text-center bg-gradient-primary-to-secondary">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8">
                        <div class="h2 fs-1 text-white mb-4">"Renting in Luxury made easy"</div>
                        <div class="h2 fs-5 text-white mb-4">- James Bond</div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- Brief Description Section-->
        <section class="bg-light">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-12 col-lg-5">
                        <h2 class="display-4 lh-1 mb-4">Enter a new age of Car Rental</h2>
                        <p class="lead fw-normal text-muted mb-5 mb-lg-0">The future of driving is here ever want to drive the fastest cars but at an affordble price the time has come we have an collection of various cars from Aston Martin to Land Rover, we have it all.</p>
                    </div>
                    <div class="col-sm-8 col-md-6">
                        <div class="px-5 px-sm-5"><img class="img-fluid rounded-circle" src="/images/purplecar.jpg" alt="..." /></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to action section-->
        <section class="bg-gradient-primary-to-secondary">
            <div class="bg-gradient-primary-to-secondary">
                <div class="container px-5">
                    <h2 class="text-white display-1 lh-1 mb-4">
                        Stop waiting.
                        <br />
                        Start Driving your Dream Car.
                    </h2>
                    <a class="btn btn-outline-light py-3 px-4 rounded-pill" href="/reservations">Book Now!</a>
                </div>
            </div>
        </section>
        <!-- Address Section-->
        <section class="bg-light">
            <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8">
                        <div class="h2 fs-1 text-black ">Visit Us Now!</div>
                        <div class="h2 fs-5 text-black ">2000 Simcoe Street North. Oshawa, Ontario</div>
                    </div>
            </div>
        </section>

<%- include ('partials/footer.ejs') %>


        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/javascripts/scripts.js"></script>
    </body>
</html>
